{
    "plugins": [ "eslint-plugin-react" ],

    "rules": {
        "no-extra-parens": 0,

        "react/no-multi-comp": 2,
        "react/prop-types": 0,
        "react/display-name": 0,
        "react/wrap-multilines": 2,
        "react/self-closing-comp": 2,
        "react/no-did-mount-set-state": 2,
        "react/no-did-update-set-state": 2
    }
}
